@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

@media screen and (min-width: 1601px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1599px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

iframe {
  width: 100%;
  height: 100%;
  border: 5px solid #F6AE2D;
  box-sizing: border-box;
  vertical-align: bottom;
} 

@media screen and (max-width: 1023px) {
  iframe {
    border: 2.5px solid #1794A5
  }
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar:hover {
  background-color: #075F6B;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 13px;
  background-color: #075F6B;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FFFFFF;
}